.section {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    padding: 0 120px;
}

.section .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 141px;
}

.section .row .left_col {
    width: 590px;
    height: 100vh;
    background-color: var(--black-color);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section .row .left_col .box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.section .row .left_col .box h1 {
    color: var(--Secondary-White, #FFF);
    font-family: Lato;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.04px;
}

.section .row .left_col .box p {
    color: #A3A3A3;
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
    width: 370px;
}

.section .row .right_col {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 6px 0;
}

.section .row .right_col .arrow {
    padding-left: 20px;
}


.section .row .right_col .main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section .row .right_col .main .title {
    color: var(--white-color);
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: -0.72px;
}

.section .row .right_col .main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.section .row .right_col .main form .inputField {
    display: flex;
    width: 328px;
    height: 40px;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #272727;
    position: relative;

}

.section .row .right_col .main form .inputField input {
    background-color: transparent !important;
    outline: none;
    color: #737373 !important;
    width: 100%;
}

.section .row .right_col .main form .inputField input::placeholder {
    color: #737373;
}

.section .row .right_col .main .signUpButton {
    display: flex;
    width: 328px;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: var(--primary-color);
}

.section .row .right_col .main .orContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.section .row .right_col .main .orContainer .line1 {
    width: 145px;
    height: 1px;
    background-color: #737373;
}

.section .row .right_col .main .orContainer .text {
    color: var(--white-color);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.section .row .right_col .main .orContainer .line2 {
    width: 145px;
    height: 1px;
    background-color: #737373;
}

.section .row .right_col .main .loginButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.section .row .right_col .main .loginButtons .button {
    display: flex;
    width: 328px;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    font-family: var(--lato-regular);

}

.section .row .right_col .main .loginButtons .googleButton {
    background-color: var(--white-color);
}

.section .row .right_col .main .loginButtons .facebookButton {
    border-radius: 100px;
    background: #3C5A9A;
    color: var(--white-color);
}

.section .row .right_col .main .loginButtons .appleButton {
    border-radius: 100px;
    background: #000;
    color: var(--white-color);

}

.error {
    color: #df2f2f;
    position: absolute;
    bottom: -24px;
    font-family: var(--lato-regular);
}


@media screen and (max-width: 769px) {
    .section {
        height: fit-content;
        padding: 0;
    }

    .section .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 141px;
    }

    .section .row .left_col {
        width: 100%;
        height: 100vh;
    }

    .section .row .right_col .main {
        width: 100%;
    }

    .arrow {
        display: none;
    }

}