@tailwind base;
@tailwind components;
@tailwind utilities;


/* -----Fonts----- */
@font-face {
  font-family: 'lato-black';
  src: url('/lato/Lato-Black.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'lato-light';
  src: url('/lato/Lato-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'lato-regular';
  src: url('/lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'lato-bold';
  src: url('/lato/lato-bold.ttf') format('truetype');
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* ------Global colors-------- */
:root {
  /* -----primary colors----- */
  --primary-color-50: #8EEBAF;
  --primary-color-100: #78E7A0;
  --primary-color-200: #61E390;
  --primary-color-300: #4BDF80;
  --primary-color-400: #34DB70;
  --primary-color-500: #1ED760;
  --primary-color-600: #04BD46;
  --primary-color-700: #00A42D;
  --primary-color-800: #008A13;
  --primary-color-900: #007100;

  /* -----Secondary colors---- */
  --secondary-color-black: #000000;
  --secondary-color-white: #ffffff;
  --secondary-color-gray-100: #F9F9F9;
  --secondary-color-gray-200: #F3F3F3;
  --secondary-color-gray-300: #EDEDED;
  --secondary-color-gray-400: #D9D9D9;

  /* -----Warning & Destructive Colors---- */
  --warning-color-400: #FBBF24;
  --warning-color-500: #F59E0B;

  /* ----Destructive colors----- */
  --destructive-color-500: #22C55E;
  --destructive-color-600: #16A34A;
  --destructive-color-700: #1C8A37;
  --destructive-color-800: #176F2F;
  --destructive-color-900: #125526;

  /* ----Neutral colors----- */
  --neutral-color-50: #FAFAFA;
  --neutral-color-100: #F5F5F5;
  --neutral-color-200: #E5E5E5;
  --neutral-color-300: #D4D4D4;
  --neutral-color-400: #A3A3A3;
  --neutral-color-500: #737373;
  --neutral-color-600: #525252;
  --neutral-color-700: #404040;
  --neutral-color-800: #262626;
  --neutral-color-900: #171717;

  /* ----colors----- */
  --primary-color: #1ED760;
  --black-color: #000000;
  --background-color: #2A2B2F;
  --activePrimary-color: #1ED76026;
  --white-color: #fff;

  /* -----Fonts----- */
  --lato-black: "lato-black", sans-serif;
  --lato-light: "lato-light", sans-serif;
  --lato-bold: "lato-bold", sans-serif;
  --lato-regular: "lato-regular", sans-serif;
}


/* --------Display Large----- */
.display-regular {
  color: var(--black-color);
  font-family: var(--lato-regular);
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -1.04px;
}

.display-medium {
  color: var(--black-color);
  font-family: var(--lato-regular);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.04px;
}

.display-bold {
  color: var(--black-color);
  font-family: var(--lato-bold);
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.04px;
}

.display-black {
  color: var(--black-color);
  font-family: var(--lato-black);
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: -1.04px;
}

/* --------Display Small----- */
.displaySmall-regular {
  color: var(--black-color);
  font-family: var(--lato-regular);
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.88px;
}

.displaySmall-medium {
  color: var(--black-color);
  font-family: var(--lato-regular);
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.88px;
}

.displaySmall-bold {
  color: var(--black-color);
  font-family: var(--lato-bold);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.88px;
}

.displaySmall-black {
  color: var(--black-color);
  font-family: var(--lato-black);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.88px;
}



/* ------Headings 1------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-color);
}

.heading-regular {
  font-family: var(--lato-regular);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.8px;
}

.heading-medium {
  font-family: var(--lato-regular);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.8px;
}

.heading-bold {
  font-family: var(--lato-bold);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
}

.heading-black {
  font-family: var(--lato-black);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.8px;
}

/* ---------Heading 2---------- */

.heading-2-regular {
  font-family: var(--lato-regular);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.72px;
}

.heading_2_medium {
  font-family: var(--lato-regular);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  color: var(--white-color);
}

.heading-2-bold {
  font-family: var(--lato-bold);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.72px;
}

.heading-2-black {
  font-family: var(--lato-black);
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -0.72px;
}

/* ---------Heading 3--------- */

.heading_3_regular {
  font-family: var(--lato-regular);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.64px;
  color: var(--white-color);
}

.heading_3_medium {
  font-family: var(--lato-regular);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* 125% */
  letter-spacing: -0.64px;
  color: var(--white-color);
}


.heading-3-bold {
  font-family: var(--lato-bold);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 125% */
  letter-spacing: -0.64px;
}

.heading-3-black {
  font-family: var(--lato-black);
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.64px;
}

/* ------Heading 4--------- */
.heading-4-regular {
  font-family: var(--lato-regular);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.heading-4-medium {
  font-family: var(--lato-regular);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.heading-4-bold {
  font-family: var(--lato-bold);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.heading-4-black {
  font-family: var(--lato-black);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}

/* --------Heading 5--------- */
.heading_5_regular {
  font-family: var(--lato-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.48px;
  color: var(--white-color);
}

.heading_5_medium {
  font-family: var(--lato-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.48px;
  color: var(--white-color);
}

.heading-5-bold {
  font-family: var(--lato-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.48px;
}

.heading-5-black {
  font-family: var(--lato-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.48px;
}


/* ---------Heading 6--------- */
.heading_6_regular {
  font-family: var(--lato-regular);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: var(--white-color);
}

.heading-6-medium {
  font-family: var(--lato-regular);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.heading-6-bold {
  font-family: var(--lato-bold);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.heading-6-black {
  font-family: var(--lato-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.4px;
}

/* -------Paragraph Large------ */
.p-large-regular {
  color: var(--black-color);
  font-family: var(--lato-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.p-large-medium {
  color: var(--black-color);
  font-family: var(--lato-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

/* -------Paragraph Medium------ */
.p_medium_regula {
  color: var(--black-color);
  font-family: var(--lato-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.p_medium {
  color: var(--white-color);
  font-family: var(--lato-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* --------Paragraph Samll--------- */
.p_small_regular {
  color: var(--white-color);
  font-family: var(--lato-regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.p-small-medium {
  font-family: var(--lato-regular);
  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}


/* -------Paragraph X Small-------- */
.p_x_regular {
  font-family: var(--lato-regular);
  font-size: 12px;
  color: #A3A3A3;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.p_x_medium {
  font-family: var(--lato-regular);
  font-size: 12px;
  color: #A3A3A3;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}