@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'lato-black';
  src: url('/lato/Lato-Black.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'lato-light';
  src: url('/lato/Lato-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'lato-regular';
  src: url('/lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'lato-bold';
  src: url('/lato/lato-bold.ttf') format('truetype');
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



:root{
  --primary-color: "#1ED760",
  --black-color: "#000000",
  --background-color: "#2A2B2F",
  --activePrimary-color: "#1ED76026",
  --white-color: "#fff"

  /* -----Fonts----- */
  --lato-black: "lato-black", sans-serif,
  --lato-light: "lato-light", sans-serif,
  --lato-bold: "lato-bold", sans-serif,
  --lato-regular: "lato-regular", sans-serif,
}
