.container {
    width: 129px;
    height: 100vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar {
    width: 104px;
    height: 544px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #2A2B2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 20px;
}

.container .sidebar .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 34px;
}

.container .sidebar .flex .location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1ED76026;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.container .sidebar .row {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* subSidebar */
.container .sidebar .subSidebar {
    width: 236px;
    height: 544px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2A2B2F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 120px;
    gap: 20px;
}

.container .sidebar .subSidebar .subRow {
    display: flex;
    width: 140px;
    align-items: center;
    gap: 16px;
    font-family: var(--lato-regular);
    color: var(--white-color);
    cursor: pointer;
}

.container .sidebar .subSidebar .flex .subRow .explore {
    color: var(--primary-color);

}

/* ---------Chevron icons------ */
.container .sidebar .subSidebar .leftChev {
    width: 140px;
    margin: 0 auto;
    cursor: pointer;

}

.container .sidebar .rightChev {
    cursor: pointer;
}

/* ---------handleOpen------ */
.close {
    display: none;
}