.slider_container {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 20px 0;
}

.resultContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    width: 1161px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2A2B2F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    color: #A3A3A3;
    font-family: var(--lato-regular);
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 24px;
    justify-content: center;
}

.slider::-webkit-scrollbar {
    display: none;
}

.profile_card {
    width: 371px;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 8px;
    background: #2A2B2F;
    display: flex;
    padding: 10px;
    align-items: center;
}

.info_flex {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #A3A3A3;
    font-family: var(--lato-regular);
}

.profile_image {
    width: 130px;
    height: 128px;
}

.profile_info {
    padding: 15px;
}

.heading {
    color: var(--Secondary-White, #FFF);
    font-family: var(--lato-light);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.4px;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}


.verified {
    margin-left: 5px;
    color: #1da1f2;
    font-size: 14px;
}





.slider_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
    background-color: #2A2B2F;
    color: var(--primary-color);
}

.next {
    right: 10px;
    background-color: #2A2B2F;
    color: var(--primary-color);
}